/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
	font-family: "DepartureMono";
	src: url("../../fonts/DepartureMono-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SFPro";
	src: url("../../fonts/SF-Pro-Text-Regular.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "SFProMedium";
	src: url("../../fonts/SF-Pro-Display-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}
