@font-face {
  font-family: "BaseFont";
  src: url("./assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    forest;
}
@import "tw-animate-css";
