@font-face {
  font-family: "BaseFont";
  src: url("./assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, forest --prefersdark;
}

@utility font-sf {
  font-family: "BaseFont", sans-serif;
}

@import "tw-animate-css";

/* Forest Theme Selection Highlight */
@layer base {
  [data-theme="forest"] ::selection {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
  }
}